@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    

    <img src="~/images/JoelHiltonHeadshot.jpg" alt="Joel Hilston" class="img-fluid" style="max-width: 50%; height: auto;" />
</div>
